* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(
    --default-font,
    'Open Sans',
    'Liberation Sans',
    'Arial',
    'Segoe UI',
    Tahoma,
    Helvetica,
    sans-serif
  );
}

a {
  color: var(--color-cyan);
}

:root {
  --default-font: 'Open Sans';
}

#flash-message-container {
  left: 0;
  max-width: 500px;
  right: 0;
  top: 2rem;
  z-index: +1002;
}
